<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Hyse Testing ">
	<test thread-count="2" name="Oct batch tests" parallel="false">
		<classes>
			<class name="seleniumtests.AseertionsDemo"></class>

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
